In [1]:
import pandas as pd
from random import randint

In [2]:
def create_guardian():
    strong_trait = randint(1,5)
    trait_dict =  {
        'Leadership': randint(1,5),
        'Experience': randint(1,5),
        'Skill':randint(1,5),
        'Domain Knowledge':randint(1,5),
        'Team Work': randint(1,5)
    }
    for idx, val in enumerate(trait_dict.keys()):
        if idx == strong_trait:
            trait_dict[val] = trait_dict[val]*1.75
        else:
            trait_dict[val] = trait_dict[val]*.75
    return trait_dict

In [3]:
guardians = [create_guardian() for _ in range(9)]

In [4]:
df = pd.DataFrame.from_dict(guardians)

In [5]:
df['Names'] = df.index + 1

In [6]:
df['Names'] = df['Names'].apply(lambda x: f'Guardian {x}')

In [7]:
df.head()

   Leadership  Experience  Skill  Domain Knowledge  Team Work       Names
0        3.75        3.75   3.00              3.50       2.25  Guardian 1
1        2.25        3.00   3.00              3.00       0.75  Guardian 2
2        3.75        1.50   2.25              1.50       3.50  Guardian 3
3        1.50        7.00   1.50              2.25       0.75  Guardian 4
4        3.75        2.25   7.00              3.75       2.25  Guardian 5

In [9]:
df.to_csv('radar.csv', index=False)